:root {
    --main-font: Arial, sans-serif;
    --bg-gradient-start: #333;
    --bg-gradient-end: #444;
    --text-color: #fff;
    --interface-color: #555;
    --button-color: #007BFF;
    --font-size: 1.125rem;  /* 18px */
    --transition-time: 0.3s;
}

body {
    background: linear-gradient(to right, var(--bg-gradient-start), var(--bg-gradient-end));
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    height: 100vh;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1rem auto;
    max-width: 600px;
    padding: 20px;
}

#activeUsers {
    bottom: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    left: 0;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 200px;
    background-color: rgba(0,0,0,0.4); /* Add a bit of faded black background */
    transition: padding var(--transition-time) linear;   
}

#activeUsers:hover {
    padding: 30px;  /* Increase padding on hover */
}

#messages {
    flex-grow: 1;
    font-size: var(--font-size);
    margin: 20px 0 10px 0;
    overflow-y: auto;
}

.input-area {
    display: flex;
    flex-direction: column;
}

input, button {
    background-color: var(--interface-color);
    border: none;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: var(--font-size);
    padding: 1rem;
    width: 100%;
    transition: background-color var(--transition-time) linear;   
}

input:focus, button:hover {
    background-color: var(--button-color);  /* Change color on focus and hover */
}

button {
    margin-top: 1rem; /* Add some margin at the top of the button */
    color: #fff; /* Make button text white */
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.activeUsersTit {
    align-items: normal;
}

p {
    animation: fadeIn 0.5s ease-in;
}

#message-container {
    align-items: stretch; /* This keeps the input field and emoji button on the same line and same height */
}

#message {
    flex-grow: 1; /* This lets the input field take up the remaining space */
}

#emojiButton {
    background-color: var(--interface-color);
    border: none;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: var(--font-size);
    padding: 1rem;
    transition: background-color var(--transition-time) linear;
    cursor: pointer;  /* Changes mouse icon on hover over button */
}

#emojiButton:focus, 
#emojiButton:hover {
    background-color: var(--button-color);
}

#emojiPicker {
    position: absolute;
    bottom: 3rem;
    right: 1rem;
    z-index: 2; /* Ensures the emoji picker appears above the other contents */
}
