<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles/styles.css">
    <title>Chatter - A basic chatting room</title>
</head>
<body>
    <div id="app">
        <div id="activeUsers">
            <h2>Active Users (BETA)</h2>
            <p>Please log in first.</p>
        </div>
        <div id="messages"></div>
        <div id="inputArea">
            <input id="message" type="text" placeholder="Enter your message">
            <button onclick="sendMessage()">Send</button>
        </div>
    </div>
    <script src="/static/javascript/main.js"></script>
</body>
</html>
